* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #0b0c0c;
}

body {
  text-align: center;
}

.main {
  max-width: 1020px;
  text-align: left;
  display: inline-block;
  width: 100%;
}

.answer {
  border: #4CAF50 1px solid;
  padding: 10px;
  margin: 20px;
  height: calc(35vh - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 40px;

  cursor: pointer;
}

.answer:hover {
  border: #4CAF50 3px solid;
}

.options-input {
  width: 100%;
  height: 300px;
  font-size: 20px;
  padding: 6px
}

.options-input:focus {
  outline: 1px solid black;
  outline-offset: 0px
}

.list-input-error {
  border-left: 4px red solid;
  padding: 10px;
}

.hint {
  color: gray
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.selection-area {
  height: 40px;
}
